<li>
  <div class="friend_image">
    <img src="images/deactivated_100.gif" alt="image"/>
  </div>
  <div class="friend_info">
    <p><%- friend.username %></p>
    <p><%- friend.email %></p>
  </div>
   <div class="friend_actions">

      <p> <a href="javascript:;" >Write message</a></p>
      <p> <a href="javascript:;" >Look at friends</a></p>
       <p><a href="javascript:;" >Remove from friends</a></p>
       <p><a href="javascript:;" class="start_chat">Start Chat</a></p>

   </div>
</li>