<% layout('layouts/index') %>
VIEWS INDEX VIEW


<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="message_list">

  </tbody>
</table>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control input_message" id="" placeholder="Type your message here">
      </div>
      <button type="submit" class="btn btn-info send_message">Send</button>
    </form>
  </div>
</div>


        <!-- Modal -->
<div class="modal fade" id="enter_tour_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close_modal" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Enter Your Name</h4>
    </div>
    <div class="modal-body">
      <form class="form-inline" role="form" id ='change_name'>
        <div class="form-group">
          <input type="text" class="form-control new_name" form="change_name" placeholder="Type your Name here">
        </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary save_name">Ok</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




